<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="theme-color" content="#1b7aca">
  <meta name="application-name" content="<%- config.title %>"/>
  <meta name="msapplication-TileColor" content="#1b7aca"/>
  <meta name="msapplication-square70x70logo" content="<%- theme.photo %>" />
  <meta name="msapplication-square150x150logo" content="<%- theme.photo %>" />
  <meta name="msapplication-wide310x150logo" content="<%- theme.photo %>" />
  <meta name="msapplication-square310x310logo" content="<%- theme.photo %>" />
  <meta name="msapplication-notification" content="frequency=30; polling-uri=/atom.xml" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="author" content="<%= config.author %>">
  <meta name="description" content="<%= config.description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="og:site_name" content="<%= config.title %>"/>
  <meta property="og:image" content="<%= config.cover %>"/>

  <title><%- config.title %></title>
  <link rel="icon" href="<%- theme.photo %>">
  <link rel="apple-touch-icon" href="<%- theme.photo %>">
  <link rel="apple-touch-startup-image" href="<%- theme.photo %>">
  <link rel="icon" href="favicon.png">
  <link rel="alternate" href="atom.xml" title="<%= config.title %>" type="application/atom+xml">
  <link rel="stylesheet" href="css/app.css" media="screen" type="text/css">
</head>

<body>
  <section id="blog"></section>
  <footer id="footer" class="inner"> </footer>
  <script src="js/bundle.js"></script>
  <script type="text/javascript" charset="utf-8">
      var config = <%- JSON.stringify(theme) %>
  </script>
</body>
</html>
